body {
    text-align: center;
}

graph-drawer {
    display: block;
    margin: 0 auto 0 auto;
    border: 1px solid black;
    width: 95vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
    cursor: move;
}

h1 {
    font-size: 2vh;
}

graph-drawer svg {
    position: absolute;
    left: 0;
    top: 0;
}

graph-drawer svg line {
    cursor: pointer;
}

graph-node {
    position: absolute;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    background-color: white;
}
