body {
    text-align: center;
}

.GraphContainer {
    margin: 0 auto 0 auto;
    border: 1px solid black;
    width: 95vw;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 2vh;
}

.GraphContainer svg {
    position: absolute;
    left: 0;
    top: 0;
}

.GraphContainer svg line {
    cursor: pointer;
}

.GraphContainer div {
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:grab;
}

.SVGArrow{
    stroke:#000000; 
    marker-end:url(#markerArrow)
}
